.watch-stats-username {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1 rem;
    margin-bottom: 4rem;
}

.watch-stats-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-top: 100px;
}

.watch-stats-banner {
    background-color: #facc15;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
}

.watch-stats-content {
    text-align: center;
    margin-top: 2rem;
}

.watch-stats-grid {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1rem;
}

.watch-stats-item h1 {
    font-size: 4rem;
    margin: 0;
}

.watch-stats-item p {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.watch-stats-item i {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: #facc15;
    display: block;
}