.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: visible;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    gap: 10px;
}

.header-nav {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.header-search {
    display: flex;
    align-items: center;
    background-color: #f1d26d;
    border-radius: 30px;
    padding-left: 10px;
    flex-shrink: 0;
    max-width: 200px;
    min-width: 120px;
    overflow: hidden;
}

.search-input {
    border: none;
    background: transparent;
    padding: 0.5rem;
    outline: none;
    color: black;
    font-weight: 500;
    width: 100%;
}

.search-button {
    background-color: #f1d26d;
    border: none;
    border-radius: 50%;
    padding: 0.4rem;
    margin-left: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logo {
    height: 70px;
    width: 2px;
    margin-right: 10px;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: Homenaje;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    background: black;
    border: 1px solid #ccc;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1100;
    font-size: small;
    margin-top: 10px;
    align-items: center;
  }

  .dropdown-item{
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #f0f0f09c;
  }

  .dropdown-wrapper {
    position: relative;
    cursor: pointer;
  }